# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ExamA20-299543.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\HP\RiderProjects\ExamA20-299543\.idea\.idea.ExamA20-299543\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
